@model Entity.Concrete.Message2
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>New Message</h1>
<br />
@using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
{
    @Html.Label("Receiver")
    @*@Html.TextBoxFor(x => x., new { @class = "form-control" })*@
    <input type="text" class="form-control" />
    <br />
    @Html.Label("Subject")
    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    <br />
    @Html.Label("Message")
    @Html.TextAreaFor(x => x.MessageDetails, 15, 3,new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Send Message</button>
}

