@model UserUpdateViewModel
@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}



    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Editing Author Profile Information</h4>
                <br />
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label for="exampleInputName1">Author Name and Surname</label>
                        <input type="text" asp-for="@Model.namesurname" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Username</label>
                        <input type="text" asp-for="@Model.username" disabled class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Email address</label>
                        <input type="text" asp-for="@Model.mail" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">New Password</label>
                        <input type="text" asp-for="@Model.password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Picture Path</label>
                        <input type="text" asp-for="@Model.imageurl" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                    <button class="btn btn-light" >Cancel</button>
                </form>
            </div>
        </div>
    </div>
